/* Overlay Nav */

.navigation__background {
  /* Makes complete circle for menu button */
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  left: 6.5rem;
  background-image: radial-gradient(#85DCB0, #9198e5);
}